<html>
{% load staticfiles %}
<head>
    <title>Retrieve Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{%static 'css/retrieve2.css' %}">

</head>
<style>
    body{
        background: greenyellow;
    }
    h2{
        color: red;
        font-weight: bold;
    }
    table{
        border: deeppink 4px solid;
    }
    thead{
        color: blue;
    }
    a{
        color: blue;
        font-weight: bold;
        font-size: 15px;
    }
    td{
        color: red;
    }
</style>
<body>
<div class="container">
    {% if data2 %}
    <h2>Available Products are...</h2>
        <table border="4px">
        <thead>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Cost</th>
        <th>Product Class</th>
        <th>Product Color</th>
        <th>No of Products</th>
        <th>Date of Manufacturing</th>
        <th>Expary Date</th>
        <th>Customer Name</th>
        <th>Customer Mobile No</th>
        <th>Customer Mail Id</th>
        </thead>
        {% for i in data2 %}
        <tr>
            <td>{{ i.product_id }}</td>
            <td>{{ i.product_name }}</td>
            <td>{{ i.product_cost }}</td>
            <td>{{ i.product_class }}</td>
            <td>{{ i.product_color }}</td>
            <td>{{ i.no_of_products }}</td>
            <td>{{ i.mfg_date }}</td>
            <td>{{ i.exp_date }}</td>
            <td>{{ i.customer_name }}</td>
            <td>{{ i.mobile_number }}</td>
            <td>{{ i.email_id }}</td>
        </tr>
        {% endfor %}
        </table>
        {% else %}
        <h3>Products are not available...</h3>
    {% endif %}<br>
<a href="/home">GoTo Home Page</a>
</div>
</body>
</html>